<p>pokemon-details works!</p>

{{ pokemon$ | async | json }}

<mat-card class="example-card" *ngIf="pokemon$ | async; let pokemon">
  <mat-card-header>
    <mat-card-title>
      {{ pokemon.name | titlecase }}
    </mat-card-title>
    <mat-card-subtitle>{{ pokemon.description | lowercase }}</mat-card-subtitle>
    <mat-card-subtitle>{{ pokemon.talent | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>Type :</b> {{ pokemon.type }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deletePokemon(pokemon.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updatePokemon(pokemon)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
